//头部的公式
@mixin header_one_a{
    color: #a4a4a4;
    font-size: 12px;
    line-height: 40px;
    padding: 0 8px;
    border-right: 1px solid #d3d3d3;
    &:hover{
        color: #ca151d;
    }
}

@mixin header_two_line {
    &::before{
        content: "";
        height: 2px;
        width: 100%;
        display: block;
        background: #ca141d;
        position: absolute;
        bottom: 3px;
    }
}

header{
    width: 100%;
    height: 114px;
    .header_one{
        width: 100%;
        height: 40px;
        background-color: #f9f9f9;
        article{
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            .header_one_l{
                float: left;
                > li{
                    float: left;
                    a{
                        @include header_one_a;
                        
                    }
                    
                    &:nth-child(1) a{
                        padding-left: 0;
                    }
                    &:nth-child(7) a{
                        border-right: 0;
                    }
                }
            }
            .header_one_r{
                float: right;
                > li{
                    float: left;
                    position: relative;
                    > a{
                        @include header_one_a;
                        position: relative;
                        i{
                            padding-left: 8px;
                            width: 8px;
                            height: 4px;
                            display: inline-block;
                            background: url(../images/index/dowm.png)no-repeat center/8px 4px;
                        }
                        em{
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background: url(../images/index/car.png) no-repeat center /13px 13px;
                            margin-right: 2px;
                        }
                    }
                    .er_one{
                        width: 100%;
                        height: 77px;
                        border-radius: 0 0 8px 8px;
                        z-index: 311;
                        background: #fff;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07);
                        position: absolute;
                        top: 40px;
                        left: 0;
                        display: none;
                        > li{
                            width: 100%;
                            height: 32px;
                            text-align: center;
                            line-height: 32px;
                            color: #3a3a3a;
                            font-size: 12px;
                            cursor: pointer;
                            &:hover{
                                color: #ca151d;
                            }
                        }
                    }
                    .er_two{
                        width: 893px;
                        height: 162px;
                        border-radius: 0 0 8px 8px;
                        z-index: 311;
                        background: #fff;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07);
                        position: absolute;
                        top: 40px;
                        left: -812px;
                        display: none;
                        > figure{
                            float: left;
                            width: 50px;
                            text-align: center;
                            margin: 37px 46px 0 49px;
                            padding-top: 53px;
                            color: #777;
                            background: url(../images/index/home.png) no-repeat top /50px 50px;
                            > span{
                                color: #a4a4a4;
                                font-size: 12px;
                                cursor: pointer;
                                &:hover{
                                    color: #ca151d;
                                }
                            }
                        }
                        > li{
                            width: 185px;
                            height: 100px;
                            margin-top: 42px;
                            margin-bottom: 20px;
                            float: left;
                            > p{
                                font-size: 16px;
                                color: #333;
                                font-weight: bold;
                                margin-bottom: 8px;
                            }
                            > div{
                                width: 80px;
                                height: 60px;
                                float: left;
                                >a{
                                    font-size: 12px;
                                    color: #777;
                                    display: block;
                                    line-height: 20px;
                                    margin-bottom: 4px;
                                    &:hover{
                                        color: #ca151d;
                                    }
                                }
                            }
                        }
                    }
                    .er_three{
                        width: 244px;
                        height: 392px;
                        background: url(../images/index/phone.png) no-repeat center /244px 392px;
                        border-radius: 0 0 8px 8px;
                        z-index: 311;
                        background-color: #fff;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07);
                        display: none;
                        position: absolute;
                        top: 40px;
                        left: -176px;
                    }
                    .er_four{
                        width: 460px;
                        height: 130px;
                        padding: 50px 0 50px;
                        position: absolute;
                        border-radius: 0 0 8px 8px;
                        z-index: 311;
                        background-color: #fff;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07);
                        position: absolute;
                        top: 40px;
                        left: -378px;
                        text-align: center;
                        color: #a4a4a4;
                        font-size: 14px;
                        display: none;
                        p{
                            width: 100px;
                            height: 100px;
                            margin: 0 auto;
                            background: url(../images/index/nullcar.png)no-repeat center/100px 100px;
                        }
                    }
                    &:nth-child(n+3){
                        &:hover{
                            z-index: 311;
                            background: #fff !important;
                            box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
                            > a{
                                color: #ca151d;
                                border-right-color: transparent;
                                i{
                                    background: url(../images/index/up.png)no-repeat center/8px 4px;
                                }
                            }
                            ol{
                                display: block;
                            }
                        }
                    }
                    
                    &:nth-child(5) a{
                        border-right: 0;
                    }
                    &:nth-child(6){
                        background: #F2F2F2;
                        a{
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
    .header_two{
        width: 100%;
        height: 41px;
        padding: 18px 0 15px 0;
        background: #fff;
        box-shadow: 0 0 46px rgba(0, 0, 0, 0.03);
        position: relative;
        article{
            width: 1200px;
            height: 41px;
            margin: 0 auto;
            .header_two_l{
                float: left;
                h1{
                    float: left;
                    width: 270px;
                    margin-right: 5px;
                    height: 36px;
                    a{
                        float: left;
                        display: block;
                        img{
                            height: 36px;
                        }
                    }
                    em{
                        width: 1px;
                        height: 18px;
                        float: left;
                        margin: 9px 8px;
                        background: #030000;
                    }
                }
                > ul{
                    float: left;
                    >li{
                        float: left;
                        margin-right: 20px;
                        position: relative;
                        > a{
                            font-size: 16px;
                            color: #3a3a3a;
                            position: relative;
                            line-height: 40px;
                            display: block;
                            &:hover{
                                @include header_two_line;
                                color: #ca151d;
                            }
                        }
                        .line{
                            &::before{
                                content: "";
                                height: 2px;
                                width: 100%;
                                display: block;
                                background: #ca141d;
                                position: absolute;
                                bottom: 3px;
                            }
                        }
                        
                    }
                }
                > aside{
                    z-index: 300;
                    position: absolute;
                    left: 0;
                    top: 70px;
                    min-width: 100%;
                    overflow: hidden;
                    display: none;
                    border-top: 1px solid #ebebeb;
                    background: #fff;
                    box-shadow: 0 3px 3px 0 rgba(121, 121, 121, 0.26);
                    > div{
                        width: 1200px;
                        height: 270px;
                        margin: 0 auto;
                        overflow: hidden;
                        background-color: #fff;
                        h2{
                            width: 1188px;
                            height: 50px;
                            color: #3a3a3a;
                            font-size: 14px;
                            line-height: 50px;
                        }
                        > ul{
                            padding: 0 0 0 18px;
                            li{
                                .alist{
                                    display: block;
                                    margin-bottom: 14px;
                                    width: 120px;
                                    height: 206px;
                                    text-align: center;
                                    margin-right: 46px;
                                    font-size: 14px;
                                    float: left;
                                    font-size: 14px;
                                    font-weight: 400;
                                    cursor: pointer;
                                    img{
                                        width: 120px;
                                        height: 120px;
                                        margin: 23px auto 0;
                                    }
                                    p{
                                        height: 42px;
                                        line-height: 1.4;
                                        color: #3a3a3a;
                                        
                                    }
                                    span{
                                        height: 21px;
                                        color: #ca141d;
                                    }
                                    &:hover p{
                                        color: #ca141d;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header_two_r{
                float: right;
                margin-top: 5px;
                background: #fff;
                border-radius: 16px 16px 0 0;
                p{
                    line-height: 1;
                    width: 318px;
                    height: 28px;
                    background: #f0f0f0;
                    border: 1px solid #f0f0f0;
                    border-radius: 15px;
                    position: relative;
                    z-index: 310;
                    > input{
                        border: 0;
                        color: #3a3a3a;
                        width: 285px;
                        text-indent: 15px;
                        height: 30px;
                        line-height: 30px;
                        background: transparent;
                        float: left;
                    }
                    >button{
                        width: 35px;
                        height: 30px;
                        cursor: pointer;
                        border: 0;
                        overflow: hidden;
                        position: absolute;
                        background-color: transparent;
                        padding-right: 10px;
                        right: 0;
                        top: 0;
                        color: #353535;
                        font-size: 0;
                        z-index: 10;
                        background: url(../images/index/search.png)no-repeat center/15px 15px;
                    }
                    &:hover{
                        border-color: #c9c9c9;
                    }
                }
            }
        }
    }
}