body,html{
    width: 100%;
    font-family: Arial;
    background-color: #ebebeb;
}

header{
    background-color: #333;
    height: 67px;
    >div{
        width: 998px;
        margin: 0 auto;
        h1{
            width: 143px;
            // display: inline-block;
            float: left;
            margin-right: 20px;
            padding-top: 14px;
                a{
                    display: block;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
        }
        em{
            float: left;
            font-size: 20px;
            line-height: 34px;
            padding-top: 14px;
            color: #cccccc;
        }
        span{
            color: white;
            font-size: 20px;
            line-height: 34px;
            padding-top: 14px;
            float: left;
            margin-left: 18px;
        }
    }
}

section{
    background-color: #FFF;
    width: 380px;
    height: 530px;
    margin: 0 auto;
    margin-top: 24px;
    article{
        padding-top: 24px;
        margin-bottom: 26px;
        text-align: center;
        span{
            font-size: 20px;
            color: #333;
            font-weight: 500;
            cursor: pointer;
            width: 166px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 0 10px;
            &:nth-child(2){
                border-left: 1px solid #ccc;
            }
            &:hover{
                color: #b40707;
            }
        }
        .actived{
            color: #b40707;
        }
    }
    .login,.sign{
        width: 328px;
        margin: 0 auto;
        li{
            border-bottom: 1px solid #ccc;
            height: 46px;
            margin: 34px 0;
            #username,#password{
                border: 0;
                color: #333;
                font-size: 14px;
                height: 46px;
                line-height: 46px;
                border-radius: 0;
            }
        }
        button{
            margin:16px auto;
            width: 326px;
            line-height: 44px;
            height: 44px;
            font-weight: bold;
            font-size: 14px;
            outline: none;
            border-radius: 26px;
            text-align: center;
            border-width: 1px;
            border-style: solid;
            background-color: #b40707;
            border-color: #b40707;
            color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #c70000;
                border-color: #c70000;
            }
        }
    }
    .sign{
        display: none;
    }
    aside{
        width: 328px;
        margin: 0 auto;
        padding-top: 123px;
        >p{
            width: 280px;
            margin: 0 auto;
            margin-bottom: 10px;
            >i,em{
                display: inline-block;
                vertical-align: middle;
                height: 1px;
                width: 94px;
                background: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_46/css/portal/vmall_rss/loginEMUIV6/img/thirdLine.png)no-repeat/cover;
            }
            >span{
                color: #ccc;
                vertical-align: middle;
                text-align: center;
                max-width: 190px;
                display: inline-block;
                z-index: 1;
                background: #fff;
                padding: 0 10px;
                line-height: 1.5;
                font-size: 12px;
            }
            >em{
                background: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_46/css/portal/vmall_rss/loginEMUIV6/img/thirdLine-reverse.png)no-repeat/cover;
            }
        }
        >div{
            width: 186px;
            margin: 0 auto;
            margin-bottom: 10px;
            >span,i,em{
                width: 42px;
                height: 42px;
                margin: 0 10px;
                display: inline-block;
                background-position: -72px -9px;
                cursor: pointer;
                background-image: url(https://id1.cloud.huawei.com/CAS/up/idmw_rss_46/css/portal/vmall_rss/loginEMUIV6/img/third_login.png);
                background-repeat: no-repeat;
            }
            >span{
                &:hover{
                    background-position: -72px -55px;
                }
            }
            >i{
                background-position: -132px -9px;
                &:hover{
                    background-position: -132px -55px;
                }
            }
            >em{
                background-position: -12px -9px;
                &:hover{
                    background-position: -12px -55px;
                }
            }
        }

    }
}
footer{
    margin: 50px auto;
    width: 963px;
    border-top: 1px solid #d7d7d7;
    >div{
        margin: 20px auto;
        text-align: center;
        font-size: 12px;
        color: #999;
        height: 42px;
        >h6{
            text-align: center;
            line-height: 20px;
            height: 20px;
            >span{
                font-size: 12px;
                color: #999;
                padding: 0 10px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
            >em{
                font-size: 16px;
            }
        }
        >p{
            text-align: center;line-height: 12px;height:12px;
            margin-top: 10px
        }
    }
    
}